@charset "utf-8";
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format('truetype')
}

#wrap {
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 'Noto Sans', Dotum, '돋움', sans-serif!important
}

#wrap #contentArea .contentWrap.intro,
#wrap #contentArea .textArea div.section .shead h3 {
    font-family: 'Noto Sans', 'Malgun Gothic', '맑은고딕', arial
}

#wrap ::selection {
    color: #fff;
    background: #121213
}

#wrap ::-moz-selection {
    color: #fff;
    background: #121213
}

#wrap #contentArea {
    position: relative;
    overflow: hidden
}

#wrap #contentArea .contentWrap {  /*게임부터 왼쪽까지*/
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    overflow: hidden
}

#wrap #contentArea .contentWrap p {  /*왼쪽 페이지 <p> */
    margin: .5em 0 1.5em;    
    padding: 0 47px;
    word-wrap: break-word;
    word-break: normal;
    text-align: justify
}

@media only screen and (min-width:2000px) {
    #wrap #contentArea .contentWrap p { /*왼쪽 페이지 <p> */
        padding: 0 100px
    }
}

#wrap #contentArea .contentWrap .center_wrap {    /* 챕터 */
    position: relative;
    width: auto;
    z-index: 1;
    font-size: 16px;
    line-height: 28px
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .contentWrap p { /*왼쪽 페이지 <p> */
        padding: 0 10px
    }
    #wrap #contentArea .contentWrap .center_wrap {  /* 챕터 */
        width: 100%;
        font-size: 16px;
        line-height: 26px
    }
}

#wrap #contentArea .contentWrap figure {
    margin: .5em auto 1.5em;
    width: 85%
}

#wrap #contentArea .contentWrap figure>img {
    display: block;
    width: 100%
}

#wrap #contentArea .contentWrap figure>figcaption {
    margin-top: 9px;
    line-height: 1.4;
    color: #5f646c;
    font-size: 14px
}

#wrap #contentArea .contentWrap figure>figcaption>small {
    color: #999;
    padding-left: 5px
}

@media only screen and (min-width:2000px) {
    #wrap #contentArea .contentWrap figure {
        width: 76%
    }
}

@media only screen and (max-width:1366px) {
    #wrap #contentArea .contentWrap figure {
        width: 82%
    }
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .contentWrap figure {
        width: 100%;
        padding: 0
    }
    #wrap #contentArea .contentWrap figure>figcaption {
        padding: 0 15px
    }
}

#wrap #contentArea .contentWrap.intro.game {    /*게임*/
    position: relative;
    min-height: 0vh;
    z-index: 1;
    color: #fff;
    background: url(background.jpg) center no-repeat #000; /*배경*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover
    z-index: 0;
    font-size: 0px
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .contentWrap.intro {
        min-height: 70vh
    }
    #wrap #contentArea .contentWrap.intro .text_wrap {
        font-size: 16px
    }
}

#wrap #contentArea .textArea {        /*기사 부분*/
    position: relative;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 12px 12px 40px rgba(0, 0, 0, .2);
    -moz-box-shadow: 12px 12px 40px rgba(0, 0, 0, .2);
    box-shadow: 12px 12px 40px rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 780px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#wrap #contentArea .textArea>* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


@media only screen and (min-width:2000px) {
    #wrap #contentArea .textArea {
        max-width: 860px
    }
}

@media only screen and (max-width:1366px) {
    #wrap #contentArea .textArea {
        max-width: 560px;
        padding: 0
    }
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .textArea {
        padding: 0;
        width: 100%;
        max-width: 100%;
        -webkit-box-shadow: 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 transparent;
        box-shadow: 0 0 0 transparent
    }
}

#wrap #contentArea .textArea div.section {
    padding: 0 0 30px;
    text-align: left;
    color: #191919;
    border-top: 0px solid #dcdcdc
}
#wrap #contentArea .textArea div.section .box {
    width: 27px;
     height: 170px;
      background-color: #004158;
      z-index: 1;
      position: absolute;

}

@media only screen and (min-width:2000px) {
    #wrap #contentArea .textArea div.section .shead {
        padding: 50px 100px 30px
    }
}

#wrap #contentArea .textArea div.section .shead h3 {  
   width: auto;
  height: auto;
  font-family: NotoSansCJKkr;
padding: 25px 65px 27px 47px;
  font-size: 40px;
  font-weight: 500;
  text-align: justify;
line-height: 100%;
  color: #004158;
}


#wrap #contentArea .textArea div.section .shead.intro01 {
   height: 170px;
    width: auto;
   position: relative;
   background-color: #f2f2f2;
}

#wrap #contentArea .textArea div.section .shead h3>strong {
    vertical-align: middle
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .textArea div.section .shead {
        padding: 20px 15px
    }
    #wrap #contentArea .textArea div.section .shead h3 {
        font-size: 1.5em
    }
}

#wrap #contentArea .textArea div.section .scont>p:first-child {
    padding-top: 45px
}

#wrap #contentArea .textArea div.section .scont .scont_section {    /*섹션*/
    margin: 60px 0px;
        padding : 10 0 0 0;
}

#wrap #contentArea .textArea div.section .scont .scont_section h4 {
  color: #004158;
    margin: 0 0 36px 48px;
    font-weight: 700;
    font-family: NotoSansCJKkr;
    text-align: justify;
    font-size: 30px;
    line-height: 100%;
}

#wrap #contentArea .textArea div.section .scont .scont_section p {
    margin: .3em 0 1em
}

#wrap #contentArea .textArea div.section .scont .scont_section p.tip_text {
    position: relative;
    margin: .1em 0 1em;
    font-style: italic;
    color: #2469d0;
    font-size: 15px;
    letter-spacing: -.5px
}


@media only screen and (min-width:2000px) {
    #wrap #contentArea .textArea div.section .scont .scont_section h4 {
        margin: 0 0 14px 100px
    }
}


#wrap #contentArea .mapArea {
    position: fixed;
    top: 34px;
    right: 0;
    width: calc(100% - 700px);
    height: calc(100% - 34px);
    background: #e3e3e3;
    overflow: hidden
}

@media only screen and (max-width:1366px) {
    #wrap #contentArea .mapArea {
        width: calc(100% - 560px)
    }
}

@media only screen and (max-width:768px) {
    #wrap #contentArea .textArea div.section .scont {
        padding: 20px 0
    }
    #wrap #contentArea .textArea div.section .scont .graphic_wrap,
    #wrap #contentArea .textArea div.section .scont>p:first-child {
        padding: 0 15px
    }
    #wrap #contentArea .textArea div.section .scont .scont_section h4 {
        margin: 3.5em 0 12px 15px
    }
}

#wrap #contentArea .mapArea .mapWrap {
    position: absolute;
    top: 0%;
    left:0%;
    width: 2500px;
    height: 3139px;
    background: url(map.jpg) center top no-repeat; //map
    background-size: 100%;
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
    transform: translate(-50% -50%)
}


#wrap .main {                /*메인 화면*/
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: #000;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#wrap .main .arr_down {        /*화살*/
    position: absolute;
    overflow: hidden;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    left: 50%;
    bottom: 50px;
    z-index: 100;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0))
}

#wrap .main .arr_down svg {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 17px;
    top: 17px;
    -webkit-animation: arrow 2s ease infinite;
    -moz-animation: arrow 2s ease infinite;
    -ms-animation: arrow 2s ease infinite;
    -o-animation: arrow 2s ease infinite;
    animation: arrow 2s ease infinite
}

#wrap .main .bg_after,
#wrap .main .bg_layer {    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

#wrap .main .bg_after {
    background: url(background.jpg) center no-repeat;
    -webkit-animation: show 4s ease-in-out;
    -moz-animation: show 4s ease-in-out;
    -ms-animation: show 4s ease-in-out;
    -o-animation: show 4s ease-in-out;
    animation: show 4s ease-in-out;
    animation-fill-mode: forwards
}

@-webkit-keyframes show {    
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.03) rotate(0);
        -moz-transform: scale(1.03) rotate(0);
        -ms-transform: scale(1.03) rotate(0);
        -o-transform: scale(1.03) rotate(0);
        transform: scale(1.03) rotate(0)
    }
}

@-moz-keyframes show {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.03) rotate(0);
        -moz-transform: scale(1.03) rotate(0);
        -ms-transform: scale(1.03) rotate(0);
        -o-transform: scale(1.03) rotate(0);
        transform: scale(1.03) rotate(0)
    }
}

@-ms-keyframes show {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.03) rotate(0);
        -moz-transform: scale(1.03) rotate(0);
        -ms-transform: scale(1.03) rotate(0);
        -o-transform: scale(1.03) rotate(0);
        transform: scale(1.03) rotate(0)
    }
}

@-o-keyframes show {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.03) rotate(0);
        -moz-transform: scale(1.03) rotate(0);
        -ms-transform: scale(1.03) rotate(0);
        -o-transform: scale(1.03) rotate(0);
        transform: scale(1.03) rotate(0)
    }
}

@keyframes show {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.03) rotate(0);
        -moz-transform: scale(1.03) rotate(0);
        -ms-transform: scale(1.03) rotate(0);
        -o-transform: scale(1.03) rotate(0);
        transform: scale(1.03) rotate(0)
    }
}

@media only screen and (min-width:2000px) {
    #wrap .main .bg_after {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover
    }
}

@media only screen and (max-width:768px) {   /* 모바일*/
    #wrap .main .bg_after {
        background: url(background2.jpg) top center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover
    }
}

#wrap .main .bg_layer {
    background: url(background2.jpg) center no-repeat;
    -webkit-animation: layer 4s ease-in-out;
    -moz-animation: layer 4s ease-in-out;
    -ms-animation: layer 4s ease-in-out;
    -o-animation: layer 4s ease-in-out;
    animation: layer 4s ease-in-out;
    animation-fill-mode: forwards
}


@-webkit-keyframes layer {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.05) rotate(0);
        -moz-transform: scale(1.05) rotate(0);
        -ms-transform: scale(1.05) rotate(0);
        -o-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0)
    }
}

@-moz-keyframes layer {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.05) rotate(0);
        -moz-transform: scale(1.05) rotate(0);
        -ms-transform: scale(1.05) rotate(0);
        -o-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0)
    }
}

@-ms-keyframes layer {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.05) rotate(0);
        -moz-transform: scale(1.05) rotate(0);
        -ms-transform: scale(1.05) rotate(0);
        -o-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0)
    }
}

@-o-keyframes layer {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.05) rotate(0);
        -moz-transform: scale(1.05) rotate(0);
        -ms-transform: scale(1.05) rotate(0);
        -o-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0)
    }
}

@keyframes layer {
    0% {
        -webkit-transform: scale(1) rotate(.3deg);
        -moz-transform: scale(1) rotate(.3deg);
        -ms-transform: scale(1) rotate(.3deg);
        -o-transform: scale(1) rotate(.3deg);
        transform: scale(1) rotate(.3deg)
    }
    100% {
        -webkit-transform: scale(1.05) rotate(0);
        -moz-transform: scale(1.05) rotate(0);
        -ms-transform: scale(1.05) rotate(0);
        -o-transform: scale(1.05) rotate(0);
        transform: scale(1.05) rotate(0)
    }
}

@media only screen and (min-width:2000px) {
    #wrap .main .bg_layer {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover
    }
}

#wrap .main h1 {                /*제목*/
    position: relative;
    font-size: 48px;
    z-index: 100;
    padding-top: 33.33333333vh
}


@media only screen and (max-width:768px) { /*모바일*/
    #wrap .main .bg_layer {
        background: url() top left no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover
    }
    #wrap .main h1 {
        padding-top: 28.57142857vh;
        width: 250px;
        margin: 0 auto
    }
}

.byline_wrap,                    /*마지막*/
.other_cont {
    position: relative;
    background: #fff;
    z-index: 1
}

.byline_wrap {
    padding: 50px 0 20px
}

.byline_wrap .byline {
    margin: 0 auto;
    max-width: 980px
}
